<!DOCTYPE HTML>
<html lang="en-us">
    <head>
        <title>Commons Compress</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="style.css" rel = "stylesheet" type="text/css">
    </head>
    <body onload="setup()" class="body">
    <form id='formid' class="form" method="POST" enctype="multipart/form-data" action="/">

        <p>Choose a compression method:</p>
        <div class="radio_div">
            <label class ="radio">
                <input type="radio" name="compression-method" value="gz" >
                    gzip
                </input>
                <span></span>
            </label>
            <label class ="radio">
                <input type="radio" name="compression-method" value="bzip2" >
                    bzip2
                </input>
                <span></span>
            </label>
        </div>

        <!-- "Select from a folder" button -->
        <div class="button_div">
            <p>Select a file:</p>
            <button id='buttonid' type="button" class="button">
                <span class = "button__text"> Select from a folder </span>
                <span class = "button__icon">
                    <ion-icon name="folder-open-outline"></ion-icon>
                </span>
                <input id='fileid' type='file' name='file' hidden/>
            </button>
        </div>


        <!-- "Upload & compress" button -->
        <div class="button_div">
            <button id='submitid' type="button" class="button">
                <span class = "button__text"> Upload & compress </span>
                <span class = "button__icon">
                    <ion-icon name="cloud-upload-outline"></ion-icon>
                </span>
            </button>
        </div>

    </form>

    <!-- the script tag should stay at the bottom of the body -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script>
            function setup() {
                document.getElementById('buttonid').addEventListener('click', openDialog);
                function openDialog() {
                    document.getElementById('fileid').click();
                }
                document.getElementById('submitid').addEventListener('click', submitForm);
                function submitForm() {
                    document.getElementById('formid').submit();
                }
            }
        </script>
    </body>
</html>